@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

/* Colours as root variables */


:root {
    --white: #eceaea;
    --melon: #daa89b;
    --rosybrown: #ae847e;
    --darkpurple:#2c0e37;
    --purple: #690375;
    --mulberry:#cb429f;
    --black:#121010;
}

body {
    background-color: var(--black);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--white);
}

/* take away the greyscale */
/* img {
    filter: grayscale(100%);
} */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
    color: var(--white);
}

h2 {
   font-family: Arial, Helvetica, sans-serif;
   color: var(--mulberry);
}

h3 {
    font-size: 2rem;
    margin: 0;
    color: var(--mulberry);
}

h4{
    font-size: 1rem;
    color: var(--white);
}

#header-text {
    flex-basis: 80%;
    display: flex;
    justify-content: start;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: var(--white);
}

a, p {
    font-family: Arial, Helvetica, sans-serif;
    color:var(--white);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

