
/* Import Google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');
                
/* Colours as root variables */
:root {
    --red: #dd3a10;
    --pink: #ee7095;
    --yellow:#facc39;
    --slateblue:#139ab8;
    --black:#070400;
    --white:#f3eeee;
}

/* CSS Reset from Josh W Comeau */

*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* END CSS RESET */

body {
    background-color: var(--white);
    margin: 0px;
}

header {
    display: flex;
    background-color: var(--slateblue);
    align-items: center;
    justify-content: center;
    min-height: 340px;
    border-bottom: 3px solid var(--red);
}


/* take away the greyscale */
/* img {
    filter: grayscale(100%);
} */

h1 {
    font-family: 'Lilita One', sans-serif;
    text-decoration: none;
    font-size: 8rem;
    margin: 0;
    color: var(--black);
    text-shadow: 3px 2px 3px var(--pink);

}

h2 {
  font-family: 'Noticia Text', serif;
   color: var(--black);
}

h3 {
    font-family: 'Noticia Text', serif;
    font-size: 2rem;
    margin: 0;
    color: var(--black);
}

h4{
    font-family: 'Noticia Text', serif;
    font-size: 1rem;
    color: var(--black);
}

#header-text {
    /* flex-basis: 80%; */
    display: flex;
    justify-content: start;
}

nav {
    /* flex-basis: 20%; */
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* wavy line generator from CSS Tricks https://css-generators.com/wavy-shapes/ for postage stamp style nav*/

#box {
    --mask:
      radial-gradient(2.19px at 50% 2.90px,#000 99%,#0000 101%) calc(50% - 4px) 0/8px 51% repeat-x,
      radial-gradient(2.19px at 50% -0.9px,#0000 99%,#000 101%) 50% 2px/8px calc(51% - 2px) repeat-x,
      radial-gradient(2.19px at 50% calc(100% - 2.90px),#000 99%,#0000 101%) calc(50% - 4px) 100%/8px 51% repeat-x,
      radial-gradient(2.19px at 50% calc(100% + 0.90px),#0000 99%,#000 101%) 50% calc(100% - 2px)/8px calc(51% - 2px) repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

a {
    font-family: 'Noticia Text', serif;
    margin: 2px;
    text-decoration: none;
    color: var(--black);
}

p {
    font-family: 'Lato', sans-serif;
    color:var(--black);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

