/* fonts to import */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Colours as root variables */
:root {
  --red: #dd3a10;
  --pink: #ee7095;
  --yellow:#facc39;
  --slateblue:#139ab8;
  --black:#070400;
  --white:#f3eeee;
}

/* target the section */
.sectioncontent {
  margin: 50px;
}

/* Fake button out of HTML */
.writestorybutton {
  background-color:var(--pink);
  color: var(--black);
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 10px;
}
.writestorybutton:hover {
background-color: var(--yellow);
}

.story-card {
  margin: 2px;
  border: 3px solid black;
  padding: 5px;
}

.story-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#latest-stories {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "left-1 right-1" "left-1 right-2" "left-1 right-3";
  max-height: 500px;
 
}

#story-card-1 {
  grid-area: left-1;
}

#story-card-2 {
  grid-area: right-1;
}

#story-card-3 {
  grid-area: right-2;
}

#story-card-4 {
  grid-area: right-3;
}

#story-card-2 a,
#story-card-3 a,
#story-card-4 a {
  display: flex;
  max-height: 120px;
  width: 100%;
  height: 100%;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
  font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
  font-size: 12px;
}

#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
  width: 33%;
  height: 100%;
  margin-right: 5px;
}

#all-stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 10px;
}

#all-stories .story-card {
  flex-basis: 32%;
  flex-grow: 1;
}

#story-content {
  text-align: justify;
}

#story-content img {
  float: right;
  margin: 0 0 10px 10px;
  width: 50%;
}

h3 {
  font-family: 'Noticia Text', serif;
  color: var(--black);
  font-size: 1rem;
}