<!-- news/templates/news/story.html -->
{% extends "base.html" %} 
{% load static %} 

{% block stylesheets %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'news/styles.css'%}"/>
{% endblock %} 

{% block content %}
<!-- {% debug %} -->
<div id="story-wrapper">
  <h2>{{ story.title }}</h2>
  <h3>{{ story.author }}</h3>
  <div id="story-content">
    {%if story.image %}
    <img src="{{ story.image }}" >
    {% else %}
    <img src="{% static '/news/images/placeholder-5.jpg'%}">
    {% endif %}

      {{ story.content|linebreaks }}
  </div>

  <!-- Adding in comments to articles Sun 10 Dec -->
  <h2>Comments</h2>
  <br/>
  {% if not story.comments.all %}
    <h3>No comments </h3> <a href="#">Add a comment</a>
  {% else %}
    {% for comment in story.comments.all %}
      <strong>
        <h3>
        {{ comment.name }} -
        {{ comment.date_added}}
        </h3>
    </strong>
    <br/>
      <h3>{{ comment.body }}</h3>
    {% endfor %}

  {% endif %}
</div>
{% endblock %}
